*,
*::before,
*::after {
  animation-duration: 0s !important;
  animation-delay: 0s !important;
  animation-iteration-count: 1 !important;
  transition-duration: 0s !important;
  transition-delay: 0s !important;
  caret-color: transparent !important;
  scroll-behavior: auto !important;
}

[data-vrt-hide="true"] {
  visibility: hidden !important;
}

[data-vrt-remove="true"] {
  display: none !important;
}

[data-vrt-partial-mask="mobile-fab"] {
  clip-path: inset(0 0 52px 0) !important;
}
